.profile-page{
  position: relative;

  &__map{
    position: absolute;
    animation: map-out 3s ease-in-out;
    animation-fill-mode: forwards;
  }

  &__profile{
    position: absolute;
    animation: profile-in 3s ease-in-out;
  }
}

@keyframes map-out {
  0%{
    scale: .5;

  }
  8%{
    scale: .45;
  }
  40%{
    transform: translateX(0vw);
    opacity: 1;
  }
  
  60%{
    transform: translateX(-65vw);
    z-index: 1000;
    scale: .448;
  }
  
  65%{
    z-index: -1000;
  }
  80%{
    transform: translateX(0);
  }
  100%{
    opacity: 0.4;
    scale: .2;
    display: none;
  }
}

@keyframes profile-in {
  0%{
    opacity: 0;
    scale: 0.25;
  }
  40%{
    opacity: 0;
    scale: 0.25;
    transform: translateX(0);
  }
  60%{
    transform: translateX(65vw);
    scale: 0.65;
    opacity: 1;
  }
  70%{
    transform: translateX(0);
    scale: 1;
  }
}